.devapp-jumbotron{
  margin-top : -25px !important;
  padding-bottom: 90px;
  padding-top: 20px;
}
.img-profile{
  width: 100%;
}
.product-image {
  width: 100%;
}
.price{
  line-height: 36px;
}
.wiswish:hover{
  font-size: xx-large;
  color:rgba(187, 12, 174, 0.4);
}
.wiswish{
  color:#f958ec;
  font-size: xx-large;
}

.cart-shop{
  font-size: xx-large;
  color: #53c758;
}
.cart-shop:hover{
  font-size: xx-large;
  color: rgba(48, 128, 51, 0.49);
}
.productName{
  text-decoration: none;
}
.productName:hover{
  text-decoration: none;
}
