<% layout('template') -%>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal" method="post">
        <fieldset class="">
          <legend> Se connecter</legend>
          <% if (message.length > 0) { %>
             <div class="alert alert-danger alert-dismissible">
               <button type="button" class="close" data-dismmiss="alert" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
                 <%= message %>
             </div>
           <% } %>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">email</label>
            <div class="col-lg-10">
              <input type="text" class="form-control"  name="username" id="inputEmail" placeholder="email">
            </div>
          </div>


          <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Mot de passe</label>
            <div class="col-lg-10">
              <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password">
            </div>
          </div>

          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
              <button type="reset" class="btn btn-default">Cancel</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
      <div class="col-md-4">
        <h6> Connexion avec : </h6>


        <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
          <span class="fa fa-facebook"></span> Se Connecter avec facebook.
        </a>
        <a class="btn btn-block btn-social btn-google" href="/auth/google">
          <span class="fa fa-google"></span> Se Connecter avec Gmail.
        </a>

      </div>
  </div>

</div>
